@tailwind base;
@tailwind components;
@tailwind utilities;

a {
	color: theme('colors.blue.500');
	text-decoration: underline;
}
a:visited {
	color: theme('colors.purple.500');
}

@layer utilities {
	.section {
		margin-bottom: theme('spacing.5');
	}

	.box {
		padding-left: theme('spacing.1');
		padding-right: theme('spacing.1');
		@apply border border-black;
	}
}
